.cardContainer{
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.cardContainer:hover {
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.cardContainer:hover .image-section {
    transform: scale(.9);
}
.forBg{
    background: linear-gradient(157deg, #d6ecf2 58%,white 58% 27%);
    border-radius:  10px 10px 0px 0px;
}
.image-section{
    width: 150px;
    margin: auto;
    transition: transform .3s;
}
.image-section img {
    box-shadow: 0px 0px 5px grey;
}
.info {
    margin-top: 20px;
    font-size: 18px;
    font-family: sans-serif;
    color: #212B34;
}
.task {
    color: #44484f;
}
.complete{
    border-right: 1px solid #867f7f;
    padding-right: 20px;
}

/* //////modal css//////// */
.modal {
    transition: opacity 0.25s ease;
    z-index: 10050;
    background: rgba(0, 0, 0, 0.44) 0% 0% no-repeat padding-box;
   
  }
  
  /* ///for mobile */
  .mobile_modal {
    position: fixed;
    bottom: -32px;
    width: 100%;
    border-radius: 30px 30px 0 0;
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
  }
  .animation {
    transform: translateY(0%);
  }
  
  .background_transparent {
    background: transparent;
    height: 0px;
  }
  .modalContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-bottom: 1px solid #d3cece;
    grid-column-gap: 20px;
  }
    .check-icon {
        color: green
    }
 .info-icon {
        color: orange
    }

    .smily-icon{
        font-size: 40px;
        color: teal;
        display: flex;
        margin-top: 40px;
    }
    .noActivity{
        position: relative;
    top: -11px;
    left: -7px;
    }

    .calendar-input {
        border: 1px solid;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    }

    .user-modal-header {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 12px;
    }

    .modal-container {
        min-height: 200px; 
    }

    @media only screen and (max-width: 975px) {
        .cardContainer {
      max-width: 350px;
      margin: auto;
      
        }
        }
        @media only screen and (max-width: 600px) {
            .modalContainer{
                display: grid;
                grid-template-columns: auto auto;
                border-bottom: 1px solid #d3cece;
              }
              .end{
                justify-self: end;
              }
            }