.App {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  grid-row-gap: 30px;
}

.check-icon {
  color: green
}

@media only screen and (max-width: 975px) {
  .App {
    display: grid;
    grid-template-columns: auto auto;

  }
  }
@media only screen and (max-width: 620px) {
  .App {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

  }
  }